
<table class="table table-hover">
    <tr>
        <th>
            Date
        </th>
        <th>
            Package
        </th>
        <th>
            Title
        </th>
        <th>
            Link
        </th>
    </tr>
    {{#each items}}
    <tr>
        <td>
            {{date}}
        </td>
        <td>
            {{package}}
        </td>
        <td>
            {{title}}
        </td>
        <td>
            <a href="{{href}}" target="_blank">
            {{href}}
            </a>
        </td>

    </tr>
    {{/each}}
</table>
